{% block header %}
<div id="nav">
  <input type="checkbox" id="menu-toggle" aria-labelledby="menu-label">
  <label for="menu-toggle" id="menu-label" class="menu-toggle-label"> </label>
  <a class="title-wrapper" href="/" aria-label="Home">
    <div class="title"></div>
  </a>
  <div class="socials">
    <a href="https://www.instagram.com/chaoskollektiv_ev/" aria-label="Our instagram page">
      <img src="/images/instagram.png" alt="Unser Intagram Profil" />
    </a>
  </div>
  <div id="menu">
    <ul>
      <li><a href="/">Start</a></li>
      <li><a href="/projects/">Unsere Projekte</a></li>
      <li><a href="/about">Wir über uns</a></li>
      <li><a href="/support">Mitmachen und Unterstützen</a></li>
    </ul>
  </div>
</div>
{% endblock %}
